.controller.ps {
  background: none;
}

.controller .base,
.controller .dpad,
.controller .bumpers,
.controller .quadrant,
.controller .abxy,
.controller .triggers,
.controller .buttons,
.controller .arrows,
.controller .touchpad {
    opacity: 0 !important;
    visibility: hidden !important;
}

.controller,
.controller .sticks {
    opacity: 1 !important;
    visibility: visible !important;
}
